[2019-07-01 20:32] xela92 opened #1 "Server starts while invalid configuration is provided"
tool: engarde-server
version: latest (github)
platform: Linux (Ubuntu Server 18.04)
issue: if a configuration file is created, it could have no "server" section and still it will start and listen to nothing.
details:
[code]
expected behaviour: it should exit with an error code like when no configuration file is found

[2019-07-05 18:13] ale-rinaldi commented on #1
Can you please test builds at http://www.linuxzogno.org/engarde/builds/fix/1-check-config-parameters/ and ensure the problem is solved?

Thanks

[2019-07-06 08:59] xela92 commented on #1
I confirm that with the test builds it is working fine in those cases:

1. empty configuration
2. slightly modified configuration without compulsory information

both on client and server.

Thanks!

[2019-07-06 09:05] xela92 opened #5 "Add versions to Engarde"
I think It would be useful to have a version code to recognize on which build I'm on while testing.

I should be able to do:

`engarde-client -v `

`engarde-server -v `

and have useful information on actual builds, maybe including dates for test builds.

[2019-07-06 09:14] #1 closed

[2019-07-06 14:30] ale-rinaldi opened #6 "Client seems not to correctly bind to multiple devices on Linux"
engarde-client is not correctly handling multiple networking devices on Linux systems. It gives out no errors, but the transmission on an interface which is not the first will fail.

[2019-07-07 10:05] #6 closed

[2019-07-08 11:10] #5 closed

[2019-07-15 17:45] ale-rinaldi opened #9 "Alert if excluding the only active interface"
Display a clear, terrifying alert if someone tries to exclude the only active interface. The alert should clearly explain that the tunnel WILL go down FOR SURE, and ask if the user is REALLY REALLY sure about it. Maybe we should block the attempt at all?

[2019-07-17 08:06] #9 closed

[2019-07-17 12:51] ale-rinaldi opened #12 "Poor error management in socket handlers"
Errors in send or receive on UDP are never checked. A sending routine should be destroyed and re-created everytime an UDP error occurs, because an UDP error can occur only when the socket becomes invalid.

[2019-07-17 22:32] #12 closed

[2019-10-27 03:08] Marctraider opened #16 "Help routing."
Hi there! I'm glad I finally found this piece of programming, after trying to mud my way through openmptcprouter, mlvpn, glorytun, etc.

For a maximum possible reliable connection non of them are really suited. This, combined does exactly what I want! (Looks like it does similar to Speedify redundant mode.

So far I managed to (Running Openwrt client, Debian 9 server vps)

1. Swap 3 LAN ports to 3

[2019-10-28 05:01] Marctraider commented on #16
Edit: Managed to get it all working, speed is a bit low tho (max 60mbit) where the highest wan should do 200Mbit.

Since it is whichever packet arrives first, this shouldnt be happening?

[2019-10-29 17:10] #16 closed

[2019-10-29 17:11] Marctraider opened #17 "How to pass exclude/include command like interface, but on commandline?"
I need to be able to include/exclude interfaces from outside engarde interface (scripted) while its running

is this possible?

[2019-11-04 17:17] ale-rinaldi commented on #17
Hello,
it is possible via API requests, if you enabled the web interface. You need to make a POST request to  http://localhost:9001/api/v1/swap-exclusion (change host and port as per your configuration), with HTTP basic authentication, with this body:
`{"interface":"ifname"}`

For a Bash script, for example, you could use something like this:

curl --user **username**:**password** 'http://**localh

[2019-11-04 17:41] ale-rinaldi commented on #16
Hello @Marctraider ,
sorry I've seen your issues just now. I'm really happy you're finding engarde useful :)

For the max speed, yep, this is something we're trying to work on, I've seen that about 60Mbps is the same max speed I can get. This should have something to do with how Golang handles sockets, but this is something I'll look into as soon as possible.

As you've probably seen I slowed down

[2019-11-04 17:59] Marctraider commented on #17
@ale-rinaldi Hey man! Good to hear you're still working on this great program!

Sounds great! I will try this later today!  I'd rather not want to completely take the interfaces down but rather disconnect them from engarde. I'm not sure what is technically preferred.

Now I catch you on, maybe you could help me with something else (I'd rather not want to open dozens of issues for some questions lo

[2019-11-04 18:13] Marctraider commented on #16
@ale-rinaldi I'm sorry to hear about your accident :-( I hope you get better soon! And good to hear you havent stopped development!

I can achieve the following bandwidth
WAN1: Native speed 20~Mbit/s
WAN2: Native speed 150~Mbit/s
WAN3: Native speed 30~Mbit/s

With all 3 connected I can get max speed of around 100~Mbit/s, With lets say, wan3 removed, i can obtain 130-140~Mbit at times.

Still quite

[2019-11-04 19:18] ale-rinaldi commented on #17
Yep, the API call just excludes them from the interfaces engarde will send traffic on, it doesn't take down the interfaces or anything, just like the "EXCLUDE" button on the web interface would.

Hmm, the only way to do that currently is by creating a "fake" interface on the system and overriding the destination address on it to match the udpspeeder listen address. But it's not the most comfortabl

[2019-11-04 19:24] Marctraider commented on #17
Sounds good!

Maybe just implement reed-solomon FEC directly into engarde itself? That would no longer require all this complication 👍

Will look forward to enhancements either way!

[2019-11-05 13:38] ale-rinaldi commented on #17
Yep, this would be the best thing. There's already a Golang implementation, so it's not hard at all. I'll probably make it optional, btw, since in some contexts low latency is more important than error correction.

Thanks for the suggestion!

[2019-11-05 14:01] Marctraider commented on #17
Yes thats true. I wonder how much latency it will cost with just realtime gaming or voip, without massive bandwidth.

Assuming it will someday be implemented, is it also possible to apply this on the fly? Or on only specific interfaces?

[2019-11-07 18:56] Marctraider commented on #17
@ale-rinaldi Quicky, how do you specifically exclude or include an interface, rather than flipping it? (swap)?

Thanks!

[2019-11-07 23:54] Marctraider commented on #17
I think I know what im looking for now, reset-exclusions does what I want, however swap-exclusions can put it back up and down on the same command, which can screw over my connection up/down alert system. So basically I'm looking for a

curl 'http://localhost:9001/api/v1/include' --data '{"interface":"eth3"}'
curl 'http://localhost:9001/api/v1/exclude' --data '{"interface":"eth3"}'

So even if my

[2019-11-08 00:02] ale-rinaldi commented on #17
Yep, I see your point, that's another thing that is missing :(
However, it's much easier to implement, I'm gonna add this in the weekend :)
Thanks!

[2019-11-08 13:41] ale-rinaldi opened #19 "Images in README not reachable"
Images in the README file are unreachable after tinypic shutdown. We need to upload them somewhere else and change the reference.

[2019-11-08 13:48] ale-rinaldi commented on #17
Hello,

please try binaries at https://engarde.linuxzogno.org/builds/feature/add-include-exclude-webpoint/ to ensure they work as you expect.
The endpoints are exactly the ones you suggested: `/api/v1/include` and `/api/v1/exclude`. The payload to provide is the same as `/api/v1/swap-exclusion`.

After your confirmation, I'll merge the change into master and close this issue. Please open another o

[2019-11-08 13:56] ale-rinaldi opened #20 "Unify client and server, allow multiple instances in the same process"
There's no reason why client and server should be two different executables. Also, there's no reason why a single process can hold only a single configuration.

It would be more comfortable to be able to insert multiple configurations into the same YML file, and run them together into the same process. Each config would have a "type" parameter to specify if it's client or server.

For example:

[c

[2019-11-08 13:58] Marctraider commented on #17
Thank you as well! I will try these binaries on client and server and let you know very shortly!

Can I just make _issues_ without making you nervous? I don't want to bother you too much 👍

[2019-11-08 14:06] Marctraider opened #21 "Optional Feature suggestion: Implement some form of FEC (reed-solomon)"
(Optional, user configurable)  Feature suggestion:

Implement some form of FEC (reed-solomon), like TinyFECvpn/udpspeeder with some configurable options (Keep latency low, least intrusive but still some benefit).

Possibly only applied to specific interface, depending on which one might benefit from it. (I know one of my connections have upstream signal issues and this might be of some relief whil

[2019-11-08 14:08] Marctraider opened #22 "Optimization: Reduced CPU usage on bandwidth load."
Optimization: Reduced CPU usage on bandwidth load.

Noticed the software is quite CPU bound, although it doesn't currently appear to give me any issues, it could maybe be beneficial for higher throughput on load).

[2019-11-08 14:12] Marctraider opened #23 "Issue: Tiny latency spike when physically ripping cable"
So this might be one issue which you can close soon, as I've not fully verified why it happens.

But when I have 3 wan's connected, sometimes **(Sporadically)** my latency on the tunnel spikes for a second or two when i take one of the WAN cables out. (Engarde usually throws an error unable to write to socket)

My theory is that when i pull cable out, ifplugd sets link down and there is nothing to

[2019-11-08 14:41] Marctraider commented on #17
@ale-rinaldi I can confirm it works perfect so far! Overriding with same status just gives me message 'already included or excluded'.

Also excluding the interface in engarde.yml (on boot) and later adding it with include works fine!

If i find any bugs I'll let you know, but so far so good.

[2019-11-08 15:05] #17 closed

[2019-11-08 15:09] ale-rinaldi commented on #22
Yep, I'm pretty sure CPU usage and bad throughput are really related. I never had a good enough look at this aspect, since my main usage of engarde (and the reason why I wrote it) is to reliably forward a 256Kbps audio stream across the Internet... But I think it's time to seriously work on it. Thank you

[2019-11-08 15:12] ale-rinaldi commented on #23
This is probably because from when you deactivate the interface to when engarde puts it in idle state, it tries to send packets to it, losing time and causing higher latency. I originally tried to find a solution by having a thread for each interface, but I found out that communication between threads made throughput worse... I'll for sure work on this by the way, it's quite related to the CPU usa

[2019-11-08 15:13] Marctraider commented on #22
I typically noticed this when I first transitioned from ARM based router to Intel NuC and my clock speed was stuck on 800Mhz due to some linux quirks. (intel_pstate vs acpi-cpufreq driver).

At first I thought it was the cumulative bandwidth with wireguard and the encryption it uses, but that doesn't seem to be the case! :)

[2019-11-09 23:02] ale-rinaldi commented on #22
Hello,
I just performed a pure test with the simplest thing I could compose: a Go application that forwards everything it receives from one side to another. No multiple interfaces, no custom logic, no error checks, nothing. And even on this test application, the throughtput is quite limited and the CPU usage is higher than what I except.

So, the good news are that this isn't an issue with engarde

[2019-11-09 23:21] Marctraider commented on #22
I see your comment in mail, not here though.

either way, I can sometimes sustain 175+mbps which the max my fastest connection can achieve, I assume its also drawing about 80mpbs from the two other lines, so an accumulation of 250+mbit, and at that point i'm not even sure if the application or my cpu is at its limits.

Its not a severity thing for me, but any optimization is always welcome (Mostly

[2019-11-09 23:58] ale-rinaldi commented on #22
You're right, I can't see the comment here, too :/

Well, by the way I don't like it using so much CPU anyway, it's a nonsense thing for just taking UDP packets from one place and putting them in another.

For the ping issue, maybe I have a solution for it, even if I'll need your help to test it since it's not easy for me to reproduce. I'll update the relative issue as soon as I have something rea

[2019-11-10 00:04] Marctraider commented on #22
Do you have paypal instead? I never really dealt in bitcoins lol.

But sure, I'm more than happy to test stuff it it makes the program (and redundancy) even more efficient.

[2019-11-17 02:07] Marctraider commented on #23
Mhh I just noticed it also happens when my 4G is hooked to engarde and the modem itself loses 4G connection.

Do you by any chance have test build with the lowered throughput? Seems like this is the only real problem left that I can find. Bandwidth is of no concern when using this tool at the end of the day!

Or is there something in Linux i.e. sysctl that i can tweak? lower (udp) buffers or somet

[2019-11-18 19:07] Marctraider commented on #22
Edit: Made a bitcoin wallet, cheers!

[2019-11-18 23:02] ale-rinaldi commented on #22
Hi @Marctraider , wow, that's great, thank you very much! Unfortunately I'm still working on your issue, expecially regarding the latency peaks. I didn't make a test build with reduce throughput because it's simply insane: it doesn't go over 1.5Mbps and that's not a viable solution at all.

I tried different approaches about it but none of them gave the expected results: I hope to be able to find

[2019-11-18 23:07] Marctraider commented on #22
@ale-rinaldi Np man, it is for the appreciation for your current code :-)

Does the 'buffer overflow' issue also happen if engarde detached a specific interface faster? In that case maybe it is more easily handled with a simple check somehow with high polling rate? To at least diminish the effects.

Seems it is now just writing to something even if it is no longer possible. No clue how this would

[2019-11-19 15:52] ale-rinaldi commented on #23
Hello @Marctraider ,

as an attempt, I tried setting an UDP write timeout. Can you please test the build at https://engarde.linuxzogno.org/builds/fix/23-latency-peaks/ to see if this mitigates the problem? Please keep in mind that there could be other side-effects, if you feel like something else is broken here please let me know!

Thanks!

[2019-11-19 15:56] Marctraider commented on #23
@ale-rinaldi Sure will do, I'll do some stress testing in an hour or two! See how it behaves.

[2019-11-19 17:02] Marctraider commented on #23
@ale-rinaldi

Tested a few times now, so far I have not been able to replicate any latency increase at all. As for good measure I did the tests on high load as it doesn't seem to occur as prominently on idle lines.

I would say, so far so good! I haven't found any anomalies (yet) and throughput does not appear to be impaired. What do you think?

![testingengarde](https://user-images.githubusercont

[2019-11-19 17:11] Marctraider commented on #23
Testing with all 3 wan, just to see regular operation, not taking down interfaces:

![noweird](https://user-images.githubusercontent.com/29001732/69169065-03caa200-0af8-11ea-9d45-b6b258fa0d21.png)

[2019-11-19 18:51] ale-rinaldi commented on #23
Hi @Marctraider ,

wow, that's really good news! Maybe this is the solution, then, but please keep it running for a few days: problems usually occurr when one isn't actively looking for them ;)

Just another step: I just made the same changes to the server, too, so the builds at https://engarde.linuxzogno.org/builds/fix/23-latency-peaks/ are now update. Can you please update also your server side

[2019-11-19 18:53] ale-rinaldi commented on #23
Hi @Marctraider ,

wow, that's really good news! Maybe this is the solution, then, but please keep it running for a few days: problems usually occurr when one isn't actively looking for them ;)

Just another step: I just made the same changes to the server, too, so the builds at https://engarde.linuxzogno.org/builds/fix/23-latency-peaks/ are now updated. Can you please update also your server side

[2019-11-19 18:57] Marctraider commented on #23
You too!

I'll update the server side as well. I will be gone tomorrow for a week but I will keep the system monitored internally and hopefully come back with a nice logfile :)

[2019-11-19 19:03] ale-rinaldi commented on #23
Fingers crossed 🤞

[2019-11-19 20:06] ale-rinaldi commented on #19
Images replaced.

[2019-11-19 20:06] #19 closed

[2019-11-20 12:56] Marctraider commented on #23
Uncrossed :P Seems it crashed tonight :(

[2019-11-20 15:18] ale-rinaldi commented on #23
It crashed without recovering? That's quite bad :(
I'll look at it!

Il mer 20 nov 2019, 13:56 Marctraider <notifications@github.com> ha scritto:

[2019-11-20 15:19] ale-rinaldi commented on #23
Yep, it's something about how I handled the thing on the server side. It's probably some stupid mistake, sorry. I'll fix it in the afternoon 👍

[2019-11-20 15:22] Marctraider commented on #23
Mhh. Would the server side realistically need this timeout function though? As regularly one would probably use a stable (99.9999% uptime) guaranteed kvm or otherwise and there would be no interfaces that get attached/detached.

[2019-11-20 15:24] ale-rinaldi commented on #23
Yes, probably it's unuseful to have it, but I like to have it implemented the same way on both server and client. I'll probably make it optional on both sides, you'll be able to disable it by setting the parameter to -1.
I'll update you as soon as I've made the change

[2019-11-20 15:41] ale-rinaldi commented on #23
Hi @Marctraider ,
it seems both the logs you attached are related to the server side. It's quite worrying, but this crash is caused by a race condition that is not derived by this recent change: it could happen even with the master builds :/

I'm fixing it right now, but can you please attach me the client side too?

Thanks!

[2019-11-20 15:46] Marctraider commented on #23
Crap, then I screwed up on my phone and posted server 2x... Sadly the log on the client is already overwritten :-/

I must say I have not seen this crash before though and Ive already been using this for weeks now. So i assumed it was caused by the recent adjustment.

[2019-11-20 15:48] ale-rinaldi commented on #23
Yep, it's quite a rare condition, but it could happen. No problem anyway, I'm fixing all of the issues right now (I hope :D)

[2019-11-20 15:49] Marctraider commented on #23
Update: the error was all mine. I just woke up and didnt realise i never actually posted the client logs. Turns out the client never crashed at all.

[code]

08:49 in the morning it crapped out, and i restarted it all at 15:55. So the client side was clean after all :)

[2019-11-20 15:50] ale-rinaldi commented on #23
Well, that's what I expected: it's just a stupid race condition on server side. Good!

[2019-11-20 16:21] ale-rinaldi commented on #23
Okkey, the builds at https://engarde.linuxzogno.org/builds/fix/23-latency-peaks/ are updated with the latest changes. This fixes the issue that caused your crash, and adds the ability to disable the write timeout by setting writeTimeout to a negative value (ex. -1).

Please stress it as much as you can, and let me know :)

Thanks!

[2019-11-20 16:56] Marctraider commented on #23
Testing as we speak :) timeout -1 on server, 10 on client.

I did notice when i initially set client to 25 i already got two 'error writing to wireguard' in the first few minutes after client reboot. Is this expected? Seems to behave better at 10.

[2019-11-20 16:59] ale-rinaldi commented on #23
Well, actually it should be the opposite: the error means that engarde wasn't able to write the received data to Wireguard in the 25ms time. I'd expect that if the timeout is higher the error rate would reduce.
Not a big deal, by the way: WireGuard is quite resilient and this error should not impact stability at all. It's just a warning.

[2019-11-20 17:46] Marctraider commented on #23
Mhhh. Something still not right here. Sudden regression, tunnel jitter and high latency spikes. (Tried both 10 and 25 btw, dont think its related to this value) as previous build worked with with these values.

eth1 and eth2 both have lower latency/jitter (My wan lines) than the tunnel itself, so something still not entirely right.

![something wrong](https://user-images.githubusercontent.com/2900

[2019-11-20 18:02] ale-rinaldi commented on #23
Well, actually there's no need of a timeout on the Wireguard write side, since it's on the same machine and it should not fail.
I removed it in the last builds, please try again.
Thanks!

[2019-11-23 22:53] ale-rinaldi commented on #23
Hello,
maybe you have some test results about the latest build? Is it still having issues?

[2019-11-24 00:40] Marctraider commented on #23
Not at home still, but it seems it has been running stable for a few days since I went abroad.

So I think we can call it stable. I've been running continous ping tests on all interfaces so i can check then when i get back. But looking good! :-)

[2019-11-25 23:44] Marctraider commented on #23
@ale-rinaldi So it ran for 5 days straight, not a single timeout or anomaly on the tunnel ping log. Very stable! I think this build is stable :)

[2019-11-25 23:51] ale-rinaldi commented on #23
Wow, really really good! Have you tried detaching cables to endure that latency peaks are gone as well? If this is the case, I'm merging it. Thanks!

[2019-11-26 00:12] Marctraider commented on #23
@ale-rinaldi Yes, I checked right away if this part also still works properly (under load), seems like it does :-)

So no deadlocks, buffer problems or regression over time it looks like.

[2019-11-26 08:43] ale-rinaldi commented on #23
Really good! So I'm going to merge the changes into master and close this issue. In a few minutes, you'll find the official builds updated. If you encounter other problems, please feel free to open a new issue!

Thanks again :)

[2019-11-26 08:44] #23 closed

[2019-11-29 21:16] Marctraider opened #25 "Server crash"
Hey again! Not sure if this is linked to latest code, but I was doing some SQM/QOS testing and restricted one WAN interface on client side to like 100kbit/s.

After some load testing the server crashed. That's a first in a like over a week!
Nothing fundamentally changed on the VPS side. No crash client side.

[code]

[2019-11-29 21:18] ale-rinaldi commented on #25
Ouch, that's bad! I'll try to sort it out asap!

[2019-11-29 21:20] Marctraider commented on #25
Cool! I wonder if its somehow all related to why i cannot reliably SQM a single wan interface without the whole tunnel going bonkers?

[2019-11-30 09:14] ale-rinaldi commented on #25
Hello,
I spotted the reason of this crash and solved it. It was a minimal change so I put it directly in the master branch. Please download the latest build and you should run just fine ;)

As for the SQM problem, I don't think it's related to the crash: can you please open an issue with some detail about it, and maybe some steps to reproduce? Before that, please try leaving engarde aside and try

[2019-11-30 09:14] #25 closed

[2019-11-30 19:52] Marctraider commented on #25
Thanks, and will do :-)

[2019-11-30 20:24] Marctraider opened #27 "Trouble setting SQM/QoS traffic shaping on individual WAN interfaces."
To get some form of QoS going, there seems to be two ways to go about it:

1. SQM on Wireguard Tunnel, since I control my own VPS I can easily setup an SQM interface on VPS as well:

Both sides apply egress bandwidth throttling, on router side I set it do 5Mbps for upstream (Basically a bit below the slowest of my 3 WAN interfaces)

VPS side I set egress cap to 50Mbps~ just for safety but to retai

[2019-12-01 17:29] #27 closed

[2019-12-01 17:29] #21 closed

[2019-12-01 17:31] Marctraider commented on #21
Experimented with Udpspeeder a bit, I think it might be a bit excessive to use if already using 3+ wan interfaces.

Also lots of extra overhead and increased latency/lower bandwidth. Probably not a great idea.

[2019-12-01 17:36] ale-rinaldi commented on #27
Hello,
I see you closed this one, have you solved the issue?

[2019-12-01 17:43] Marctraider commented on #27
Not really, but I'm quite contend now with just shaping the tunnel both ends now.

I'll try and come up with a solution for this in the future, probably with veth dummy interface in between.

I'm pretty sure if I hypothetically added 3 physical routers in between all my 3 internet connections, just for shaping, would solve the issue, but that is quite impractical and adds a layer of delay and comp

[2019-12-09 15:41] xela92 commented on #20
If it's not gonna break compatibility with the actual configuration (that I feel more confortable, even if it's limited) I think it could be useful to manage complex configurations. One can simply configure everything he needs in one place and then run one single process to handle everything. Do you think it could have side effects? E.G. limit speedrates?

[2019-12-09 15:46] Marctraider commented on #20
It would indeed be handy having just a single executable for both client/server, easier for future development/build generation and for end users to maintain/update.

[2020-02-02 02:55] pipriles opened #31 "Client time out"
Hello, I was trying to test engarde but I can't manage to get it work:

[code]

This is my WireGuard server config file:
[code]

And this is my WireGuard client config file:
[code]

And this is my `engarde.yml`:

[code]

Without engarde I can ping my server at `10.200.200.1` but when I set the Endpoint to `127.0.0.1:59401` I can not longer ping it.
Some times the server detects the client addresse

[2020-02-02 03:03] Marctraider commented on #31
Is your MTU in windows correct? Im not sure on your setup but since my whole network goes through tunnel all devices must be set to 1440 MTU (or 1420 in case of ipv6)

Server dont need clientTimeout, but client does iirc.

[2020-02-02 03:07] pipriles commented on #31
This is the output of `netsh interface ipv4 show subinterfaces`
[code]

[2020-02-02 03:15] pipriles commented on #31
IP forwarding is set to 1 on the server and I did `ufw allow 59402` so engarde is able to connect to the server.

[2020-02-02 03:17] Marctraider commented on #31
Mhh. Do you see any high bandwidth activity on any interface? If you have connection sometimes it sounds like something is acting up.

[2020-02-02 03:30] pipriles commented on #31
Normally if don't connect the phone to the computer and I use just the Laptop as my WiFi adapter then I get:

[code]

With the phone connected:
[code]

[2020-02-02 03:47] pipriles commented on #31
Well now, the server does not detect the client when I connect to the tunnel :(

[2020-02-02 23:56] Marctraider commented on #31
Mhh... smelling some weird firewall/nat stuff going on maybe... Just a hunch.

Any luck?

[2020-02-03 06:31] pipriles commented on #31
I don't know I tried several times but no luck ...

[2020-02-20 09:49] ale-rinaldi commented on #31
Hello,
sorry to reach you so late but I disabled issue mail notifications by mistake :/

Are you using the official Windows WireGuard Client? I've seen it doesn't like it when you put 127.0.0.1 as endpoint. I'm trying to get in touch with them about this issue, since the official Linux and Mac clients work flawlessly in the same situation, so I'll let you know as soon as I'll have updates.

In the

[2020-02-22 04:48] pipriles commented on #31
Thank you for you answer, I'll let you know if it worked.

[2020-03-19 09:35] ale-rinaldi commented on #31
Hello @pipriles ,
did that work for you? Thanks!

[2020-03-20 15:16] Johnr24 opened #33 "Feature Request:"
Hello I was wondering if you could add a "classic" Bonding mode as you discussed on lowendtalk,
let me know as I would love to test

[2020-03-23 09:24] ale-rinaldi commented on #33
Hello,
yeah, it's totally possible to implement this feature and I'll go on with that in the next few days (I live in Bergamo, Italy, so I definitely have time for that at the moment).
My main concern is that it won't be really useful, since engarde is not focused on speed by design and I'm not sure you'll gain any benefit from this kind of bonding; however, I'm planning to work on something to im

[2020-03-23 12:26] Marctraider commented on #33
Be safe man!

[2020-03-24 16:48] ale-rinaldi commented on #31
Hello  @pipriles ,
I'm closing this issue since I assume you solved the issue. Please feel free to open it again if this is not the case!
Thanks

[2020-03-24 16:48] #31 closed

[2020-03-30 16:34] serniko97 commented on #33
Hi, I'm also from north Italy 🇮🇹

I just saw this software and I have to say it is very good.
I would like to test the classic bonding too since there is nothing that does that in a convenient way and sometimes I really need that.

[2020-03-30 16:38] Marctraider commented on #33
Would be nice to have classic bonding in addition to redundant mode. (Since that now looks 100.0% stable, been running for months without interruption) we must be sure it does not interfere with current mechanism.

Maybe with a switch in the web interface to (seamlessly) change mode without interruption.

[2020-03-30 17:19] ale-rinaldi commented on #33
You're right @Marctraider , issue #22 is what I'm trying to work on in those days. I'm approaching with different Golang network libraries to see which fits better, but I don't exclude rebuilding some small parts that handle network traffic in pure C/C++.

However, given the fact that this feature seems to be useful for some pepole, I could work on this before. Just don't expect, for now, to have

[2020-03-31 11:02] Johnr24 commented on #33
Great 250mbps would be amazing
Look forward to seeing your builds
Stay Safe Everyone

[2020-03-31 17:11] serniko97 commented on #33
I have just a question, does it work on top of an existing VPN or there might be conflicts?

[2020-03-31 18:26] ale-rinaldi commented on #33
Do you mean WireGuard over Engarde over another VPN? I wouldn't recommend this, but as long as the other VPN can pass UDP traffic I see no issues in that.

If you mean using Engarde on an already existing WireGuard VPN, yes it's totally possible, you just need to change the endpoint on the peer with engarde-client (the one with multiple connections) replacing it with 127.0.0.1:your-engarde-port. P

[2020-04-23 11:39] Johnr24 commented on #33
Hey!
Hope you are staying safe!
I was just wondering if you'd managed to make any progress on this!
Stay Safe
Best
J

[2020-04-28 20:54] ale-rinaldi commented on #33
Hello,
yes, luckily we're safe, thanks :)

I'm taking some more time on this: I'm trying to refactor the code as much as I can to clean things up a little and implement the function without the risk to break something else.

I hope to have something working on, let's say, next week :)

Thanks!

[2020-04-28 20:59] Marctraider commented on #33
Mhh was thinking for stability testing it could be handy if someone would run two simple linux VM's and simulate a Multiple WAN <-> VPS connection.

Not sure if i have the capacity to run more VM's though.

[2020-04-28 21:06] serniko97 commented on #33
Wouldn't a host and a VM be enough for testing?
I could probably do the tests but in a couple of weeks I will start studying and won't have as much time.

[2020-04-28 21:08] Marctraider commented on #33
Yea I suppose so, i also forgot there were windows binaries.

[2020-04-28 21:28] ale-rinaldi commented on #33
Hello,
luckily, DigitalOcean gave me $ 50 in credit for engarde developement, and I can easily spin up virtual machines to test it. i use my own laptop for Windows testing, but most of the code is shared so it doesn't make a big difference.

I'll let you know as soon as I have news :)

[2020-05-06 18:08] pipriles commented on #31
I am sorry I didn't test before, I tried with TunSafe and now it works.

Thank you for your help.

[2020-05-25 10:59] talalmash commented on #22
I'm able to pull 25mbit/s (my internet limit) on 720mhz ar71xx Archer C7v2, will test over lan to see max, I simply compiled engarde-client with mips flag without any effort, works like a dream! Thank you dev!
My journey for usable internet from worse to best on unstable lines :  Speedify on RPi -> OpenMPTCProuter(best of all for TCP only + aggregate) ->  borrowed Peplink -> Glorytun UDP  -> ExitL

[2020-05-25 13:14] Marctraider commented on #22
I also tried most of those, but non can properly handle link loss without major rubberbanding. And TCP is even worse for general internet usage and gaming/voip.

Engarde beats all those solutions for stable connection ;-)

[2020-05-25 13:18] ale-rinaldi commented on #33
Small update just to say I didn't forget about this, but some other works unfortunately took more priority than they should. Still working on this by the way, news soon I hope :)

[2020-05-25 13:19] ale-rinaldi commented on #22
Hi @talalmash , I'm really happy you're finding engarde useful, thanks for your feedback :)

[2020-06-01 14:46] Marctraider opened #35 "Excluding/Including not always saving state?"
Hi! Just noticed (maybe) a small bug, not exactly sure.

I excluded an interface yesterday and an hour later re-included it.

Now i look today it was included but says xxxxx seconds not received any data (basically 12 ish hours or so), so i excluded and reincluded it just now and it just works fine again instantly.

Maybe there is some small bug that not always properly saves the new state though

[2020-06-01 16:52] talalmash commented on #35
I also noticed something similar when one of the interfaces goes down and
up, needs ex/include to show 0 handshake and restored connection. Ended up
making a bridge with a dummy interface as the bridge never goes down. But
my modem has ethernet switch bug which reconnects every 10 hours or so,
same with my WISP PPPoE disconnecting during fog. This only happens after
running engarde for few days, b

[2020-06-01 17:44] Marctraider commented on #35
I dont think i had any messages from the particular interface at all in the logs, just reflecting what I did on the engarde web interface

[2020-06-01 18:51] talalmash commented on #35
My bad, I'll open a new issue once it happens again to confirm, maybe it's my aging SBC.

[2020-06-05 10:03] ale-rinaldi commented on #35
Hello @Marctraider ,
thanks for the issue, it looks quite strange since the inclusion logic is the same for the UI visualization and for the transmission logic, but I will have a look at it. The (slower than I'd want) refactor will totally replace the way it works, by the way: it will be event-based and so it will for sure work in a more reliable way.

Thanks

[2020-06-05 12:19] Marctraider commented on #35
Maybe it was an edge case or maybe it was something on my Debian, but I didn't touch anything OS/network level other than re-exclude/include and it magically started receiving packets again :)

Either way, all works great in general ^^

[2020-06-05 13:22] talalmash commented on #35
Are you using keepalive on the wireguard interface? If so how many seconds?

[2020-06-15 18:33] talalmash commented on #27
I had the best result with the following setup, latency won't budge:
-cake + layer_cake with nat and src-dsthost arguments on Engarde interface. Speed set at the highest link of the 3.
-fq_codel + simple for the rest 2 slower connections.

I also noticed that enabling fq_codel even without shaping on active interfaces can improve connection to engarde with cake, I'm guessing it has to do with AQM

[2020-06-15 18:39] Marctraider commented on #27
Nice!

Small problem with QoS on tunnel is; To keep reliable connection you need to cap bandwidth to like half of your total bandwidth from all connections, and in case of a very bad fluctuating (but fastest) link like mine, its even more difficult to find sweetspot.

Have you by the way noticed (with iperf) that jitter seems to go up when QoS is applied to tunnel?

My best conf was QoS one-way on

[2020-06-15 18:43] talalmash commented on #21
There is a fork of udpspeeder to apply per interface instead of engarde, if it helps.
https://github.com/Llorx/UDPspeeder

[2020-06-15 19:02] talalmash commented on #27
Yes! I did notice jitter with cake but not with fq_codel, and yeah I had to use crontab to reapply cake with autorate-ingress due to the speed going down.
Interesting approach with using QoS on VPS I should try this.
Fortunately Engarde already has lower bufferbloat running compared to my native connection, I think that's a common thing with UDP VPNs/tunnels? +50ms vs 300ms on ADSL.

[2020-06-21 22:55] jphein commented on #33
I would love to test a classic bonding setup using WireGuard. I currently have only seen OpenVPN implementations. Let us know! =]

Thanks for the great work!

[2020-06-22 05:01] jphein opened #37 "How do you forward all your traffic using engarde?"
Hello!
Thank you very much, I love the software. It works really well when I set up wireguard manually using the wg command.  However, I can't get it to work with wg-quick. I'm using wg-quick to set up the WireGuard VPN, and forward all my traffic over the VPN.  It works perfectly for that after setting up ufw masquerading on the server. Has anyone been able to use engarde with wg-quick, and all t

[2020-06-22 05:16] jphein commented on #37
Changes made to the server firewall
[code]
/etc/default/ufw change the DEFAULT_FORWARD_POLICY to “ACCEPT”:
[code]
Then edit /etc/ufw/sysctl.conf and uncomment:
[code]
Now add rules to the /etc/ufw/before.rules file. The default rules only configure the filter table, and to enable masquerading the nat table will need to be configured. Add the following to the top of the file just after the header c

[2020-06-22 18:29] talalmash commented on #37
Engarde client
[code]
wg client:
[code]
wg client Endpoint port should be 59401 no?

[2020-06-22 18:47] jphein commented on #37
@talalmash Thank you! You're right! erp.
I made the change, but still not working for me. I'm going to investigate a bit more.

[2020-06-22 20:12] ale-rinaldi commented on #37
Hello,

I think the issue is that you're setting:
[code]
on the client.

Doing this, wg-quick will set a default route through the VPN and engarde won't be able to reach the endpoint. This doesn't happen configuring Wireguard manually since it doesn't touch the routing table.

You'll probably want to set a specific route to the public IP of the server via the non-VPN interface after you run wg-qui

[2020-06-22 21:02] jphein commented on #37
@ale-rinaldi Thanks for your reply!
I can actually get the engarde client and server to connect using wg-quick now. wg-quick uses

[2020-06-22 21:13] jphein commented on #37
I think I can use the
`Table = off`
to tell wg-quick that it should not mess with the routing tables
from: https://www.reddit.com/r/WireGuard/comments/gmc6au/loadbalancing_across_two_wg_connections_to_single/
I'll do some testing with that, but then I'll have to choose one of the manual ways of routing the rest of the traffic from here: https://www.wireguard.com/netns/#routing-all-your-traffic

[2020-06-22 22:37] jphein commented on #37
I added the static route using:
`ip route add <publicip>/32 via <localgateway> dev eth0'
Just to test it out anyway.
I still seem to be having issues, although mostly with HTTPS.

[2020-07-19 20:24] Marctraider commented on #37
Issues with HTTPS, maybe MTU issue.

[2020-07-27 12:34] regstuff opened #40 "Will engarde work for TCP traffic over RTMP protocol"
Sorry, this is not really an issue, but more of a few questions I had about engarde. My situation is that I am livestreaming over an ethernet that gives sufficient bandwidth most of the time, but I'd like to have seamless failover to a cellular network (via a dongle) in case the ethernet goes down.
Engarde says "every UDP packet that is emitted (...) and sends it through every available connection

[2020-07-27 12:43] Marctraider commented on #40
1. Engarde uses Wireguard which utilizes the UDP as network protocol, which means it can carry any protocol on top of it without problems. In my example, my whole internet gets tunneled over UDP, so basically any protocol.

2. Nope, out of order packets is possible. But I personally haven't seen this much. Only if your two connections have the exact same latency it could occur more regularly. It i

[2020-07-27 12:44] ale-rinaldi commented on #40
Hello, @regstuff ,

actually, engarde itself works with UDP packets only, but its main use case is to overlay a WireGuard VPN. The WireGuard VPN will send all of its traffic via UDP, but on a two peers setup it will give you a new pair of private IPs to contact the endpoints. On this, you can create TCP connections without any issue.

This is the designed workflow:
[Your client application] <---TC

[2020-07-27 12:46] ale-rinaldi commented on #33
Hello,
just to say I'm still alive but I'm not having free time to work on this as I'd like. But I didn't forget and I'm really going to implement this :)

[2020-07-27 12:47] Marctraider commented on #33
No rush man, its done when its done :-)

[2020-07-27 13:52] regstuff commented on #40
Thank you for the clarifications. You can close this non-issue now. :)
I'll give it a try.

[2020-07-27 13:52] #40 closed

[2020-07-27 17:25] jphein commented on #37
@Marctraider Thank you so much!!! I'll try that. Good to know you have successfully routed all your normal browser traffic over engarde. Do you use wg-quick?

[2020-07-27 17:35] Marctraider commented on #37
Yes I do. My server and client both run a sh script at boot to initiate everything in proper order. I'd rather not fiddle around with services etc too much :-)

[2020-07-27 17:44] jphein commented on #33
Glad you're alive!!!! Yay =]

[2020-07-30 10:32] regstuff opened #41 "Wireguard VPN setup but Engarde doesn't connect to server"
I'm trying to connect from a Windows 10 client to a Ubuntu 18.04 server in the cloud.

Wireguard is all set up and working fine. Able to ping from client to server and server to client. Using it to browse etc.

But once I get Engarde running, nothing seems to be working. I'm unable to ping server from client or ping client from server. Strangely, I'm able to ping 1.1.1.1 from the client but someth

[2020-07-30 10:55] ale-rinaldi commented on #41
Hello,

as the very first attempt on this, I would replace the WireGuard Windows client with TunSafe, due to the issue you read about on the mailing list (never got an answer about this :-1:  ).

TunSafe totally respects the WireGuard protocol, so you can easily set it up using the same config file you're using with Wireguard.

[2020-07-30 11:07] regstuff commented on #41
Thanks for the quick reply. Would Tunsafe on the Windows client work with Wireguard on the server, or do I need to replace anything on the server?
Also just an aside, when I launch Engarde in windows, it opens a terminal. Now there's always a risk of closing the terminal by mistake and the whole thing would go down. Any solution for this? On linux I would put inside a Screen, but in Windows there

[2020-07-30 11:30] regstuff commented on #41
Hello.
Well I downloaded Tunsafe and used it in place of Wireguard on Windows. Loaded the same conf file and Tunsafe says it is connected to the server. Engarde web console on both client and server show packet transfer. But when I check my ip on whatsmyip, I don't get my server ip but my actual client ip?
Is this the way it should work?

[2020-07-30 13:07] ale-rinaldi commented on #41
Hm, no it's not. I'll try to figure it out, but I'm not really an expert on this field: my use case is using engarde only for client-to-server connections, actually.

Can you please post the Windows routing table before and after you start TunSafe? It should be the `route print` command.

Thanks

[2020-07-30 13:51] regstuff commented on #41
My apologies. I made a silly mistake.
In the Wireguard client config, Allowed ips was set to 0.0.0.0/32 instead of 0.0.0.0/0
Changing this fixed it in Tunsafe.
Wireguard still seems to have issues though.
Too bad there's no facepalm emoji on github!!

[2020-07-30 14:05] ale-rinaldi commented on #41
Hello,

as far as I know the WireGuard Windows client will not work with this setup, unfortunately. Or at least, I didn't find a way to make it working. That said, I really settled on TunSafe and I like it :)

So is it working with engarde, too? I'd have guessed that with a 0.0.0.0/0 AllowedIPs it would also route the traffic to the endpoint through the VPN, and that you'd need to add a specific r

[2020-07-30 15:23] regstuff commented on #41
If not 0.0.0.0/0, what should I add there? Should I add the ip of the server on the VPN subnet (192.168.2.1 in my config)?

Tunsafe is working with engarde. My application is similar to yours, but instead of radio, I'm streaming video to Youtube etc.
Just did a short test with ethernet and 4G hotspot connected to OBS. Pulled the Ethernet out, plugged it back in, shut off the Hotspot, turned it on.

[2020-07-30 15:39] ale-rinaldi commented on #41
Hello,

well if it works I think there's nothing more to change :) I was worried that the engarde UDP traffic itself would be routed erroneusly with this configuration, but it seems it's not the case.

CPU spikes could be related to engarde, yes, I'm working on some different implementations of the network stack but, unfortunately, I have no ETAs for this since I'm in a really busy moment. However

[2020-07-31 09:22] #41 closed

[2020-08-03 10:24] InnotSagg opened #43 "is there a example for one interface with 2 ip?"
for example one ipv4 with extra ipv6 ?

or two ipv4 with alias for same interface ?

for both server side and client side.

[2020-09-02 11:20] regstuff opened #44 "When phone hotspot shuts off, internet goes down"
Having a bit of an issue and I'm unable to debug what's wrong.
My connections are an ethernet Lan cable and a WiFi from a phone hotspot.
Engarde is on via TUNSafe.
I'm using this config to do a livestream with OBS.
When I unplug the Lan cable, the livestream continues, albeit with a slight drop in bitrate (because of the WiFi bandwidth).
I plug the Lan back in, and turn off the data on my phone. (

[2020-10-01 15:41] rtgoodwin opened #46 "DNS/traffic issue"
First off, thanks for making this! I need a reliable failproof connection for "high stakes" streaming (ok it's comedy :) ).

**Env**
* Client: macOS 10.15.7, WG latest app from App Store. 1 ethernet, 1 wifi connection, same internal network, to a single router and modem.
* Server: I setup a new droplet at DO with https://github.com/jar-o/rotvpn (super simple btw). Ubuntu 20 I believe?

Put the eng

[2020-10-01 16:39] ale-rinaldi commented on #44
Hello,
thanks for trying engarde and sorry for the enormous delay in my answer.

UDP packets are, by design, sent out to the interface, without actually checking if they reach or not their destination. So I'm not surprised that if you turn off your mobile data you don't notice any change: packets will just reach the mobile phone and get lost there (that's also why you see traffic in the Windows ma

[2020-10-01 16:41] ale-rinaldi commented on #46
Hello,

here it seems that there's some issue with the configuration itself, and so with the entire traffic flow, rather than just the DNS resolution.

May you please post your Wireguard and engarde config files, both for client and server? Of course without any key and public IP.

Thanks!

[2020-10-02 01:39] rtgoodwin commented on #46
Thanks for the prompt response, will do when back at that system. Thanks!

[2020-10-26 12:34] ale-rinaldi commented on #46
Hello, did you solve your issue? Thanks

[2020-10-26 13:25] rtgoodwin commented on #46
My apologies, haven't had a chance to really test again. i'm confident it is a WG config issue, because otherwise your project wouldn't be working so well otherwise. I'll close this and if I can't solve it, let you know :) Sorry for keeping it open!

[2020-10-26 13:25] #46 closed

[2020-10-26 13:27] ale-rinaldi commented on #46
No problem man, you may need any help with the configuration just drop a note :)

[2020-12-08 20:13] rstanislav opened #48 "Howto build"
Hello, first - thanks for this great project, its works aswesome!

And small question - how to build client and server with builtin webserver ? I can build client and server, but they are without built in webmanager (404 error), official build do include webmanager in single binary file...

Thanks alot!

[2020-12-08 23:21] ale-rinaldi commented on #48
Hello @rstanislav ,

I'm glad engarde is fitting your needings. To build the binary with the embedded web interface, that is an Angular project, you'll need to have Node on your machine. You'll also need to have the Packr2 binary installed:

`go get -u github.com/gobuffalo/packr/v2/packr2`

Now, first of all you'll have to go in the `webmanager` directory and run:
[code]

Now, to create the file t

[2021-01-01 16:27] alessionossa opened #49 "Apple Silicon binary"
It is not essential, because the amd64 binary seems to work fine under Rosetta 2, but a native Apple Silicon (arm64 macOS) binary can be a nice thing.

[2021-01-05 13:37] ale-rinaldi commented on #49
Hello,
yes, it's a good idea, I'm trying to get a better look at it.
Thanks

[2021-01-31 11:15] Johnr24 commented on #33
Just to say the popular OpenMPTCPRouter Project already has this functionality

[2021-01-31 11:15] #33 closed

[2021-12-03 16:53] #48 closed

[2021-12-03 16:55] #44 closed

[2021-12-03 16:56] #37 closed

[2021-12-03 17:00] ale-rinaldi commented on #43
Hello @InnotSagg , at the moment engarde can output just to an IP for each interface. This is quite annoying also if, for example, you have a single LAN with multiple gateways in it and you want to use engarde in this scenario.

I've seen a scenario like this, on Windows, where the user created different virtual network interfaces bridged to the main one, each one with its IP and gateway. The proc

[2021-12-03 17:00] #43 closed

[2021-12-03 17:00] #35 closed

[2021-12-05 21:56] umekzg opened #63 ""classical" bonding method?"
Is it possible to implement?

Thx!

[2022-01-28 15:28] Marctraider commented on #22
Any update on this? Possible to somehow adjust code without a complete rewrite?

I wonder maybe if compiling it with more cpu specific optimizations could yield a few more megabits of throughput, but I never really compiled any GoLang stuff.

[2022-01-29 08:01] zxwanghongyi opened #65 "Can't access engarde.linuxzogno.org for downloading build file."
No respond from engarde.linuxzogno.org

This is Google's cache of https://engarde.linuxzogno.org/builds/testing/update-ng-9/windows/. It is a snapshot of the page as it appeared on 1 Jan 2022 11:34:05 GMT.

[2022-01-29 08:10] ale-rinaldi commented on #65
Hi,
totally a fault on my side, sorry. I'll have it sorted out in the afternoon.
Thank you!

[2022-01-29 10:54] zxwanghongyi commented on #65
Thanks!

[2022-01-29 13:50] zxwanghongyi commented on #65
By the way, the image in README are not showing up too.

[2022-01-29 14:38] ale-rinaldi commented on #65
Hi,
it should be working now. Also the images.
Thanks!

[2022-01-29 14:39] #65 closed

[2022-02-16 07:45] xavierleung commented on #22
I am also curious if someone figure out any optimizations by now.

[2022-02-17 18:40] zxwanghongyi opened #68 "It is possible to use engrade with udp2raw this kind of tools to avoid Qos from carriers when transfer data through UDP"
It is possible to use engrade with udp2raw this kind of tools to avoid Qos from carriers when transfer data through UDP

When I trying to transfer large amount of data through UDP, the conncetion often become extreme slow after few second, but everything works well when using TCP.

I think carriers are messing my udp package

[2022-02-17 21:44] Marctraider commented on #68
Carrier can only 'see' the encrypted UDP packets from wireguard which encapsulate your real data. So internal data should not matter.

What I am personally observing is that udp inside udp like when using iperf3 my whole connection stagnates. Not sure whats causing this, but almost nothing is taking that huge amount of UDP data in practice.

Maybe linux network udp socket buffers?

[2022-03-08 20:09] manueldev opened #72 "engarde-client error on Windows 11"
Hello. I am trying "Engarde" for the first time and I have problems connecting a windows 11 client to a windows 7.
I have no problems connecting directly with wireguard. I have successful ping. With the same configuration I tried to connect from "engarde-client" MacOS without problems to the same windows 7.

<img width="935" alt="image" src="https://user-images.githubusercontent.com/3420027/157310

[2022-03-08 21:52] ale-rinaldi commented on #72
Hello @manueldev ,

thank you for your interest in engarde. Unfortunately I remember this is a known issue with Wireguard for Windows: for some reason, it does not like at all having "127.0.0.1" as an endpoint. I tried getting in touch with them but I got no answer. I personally use TunSafe on Windows and it works fine.

I'm thinking now that you MAY have luck using one of your local IPs (192.168.

[2022-03-09 02:17] manueldev commented on #72
**Wireguard+Tunsafe direct works:**

Windows 11 Tunsafe Client

<img width="733" alt="image" src="https://user-images.githubusercontent.com/3420027/157356142-e8fbd741-18dd-48ec-91c6-0a725197f9e4.png">

Windows 7 Wireguard Server

<img width="745" alt="image" src="https://user-images.githubusercontent.com/3420027/157356219-156fbfe7-fec3-4a75-ab62-750bab9bb39e.png">

**Wireguard+Tunsafe through enga

[2022-03-09 02:24] manueldev commented on #72
As additional: in windows 11 the web manager is blank

<img width="645" alt="image" src="https://user-images.githubusercontent.com/3420027/157360252-ab7dc603-9211-4602-8874-560839aa2b6f.png">

[2022-03-26 04:31] jphein commented on #63
Any news? :) I could really use this feature.

[2022-05-28 08:32] TalalMash commented on #43
IPVLAN works well and very easy to setup under Linux.

[2022-11-02 00:20] ojrivera381 opened #78 "So lost with the configuration file"
First, thank you for your contribution. If I can get this to work properly it will be a lifesaver for me while trying to stream my daughter's competitive events. That said In my brain, I can't see how all these match up.
In your example you have
`_client:
  listenAddr: "127.0.0.1:59401"
  dstAddr: "198.51.100.32:59402"
  excludedInterfaces:
    - "eth3"
    - "wg0"

server:
  listenAddr: "0.0.0.0:

[2022-11-02 10:56] ale-rinaldi commented on #78
Hi @ojrivera381 , I'm with you on this, I'd love to have some time to clean up documentation, but before this I'd like to do a big refactor of all this stuff (I was new at Golang when I wrote this and the code is pretty much a mess). I'll try to help you, however.

Basically, Engarde will be in the middle of the comunication between the Wireguard on your client and the Wireguard on your server. It

[2022-11-21 13:25] chirayu-patel opened #80 "Mulitple engarde clients to a single engarde server"
First of all, amazing job on creating this functionality. Thankyou so much !!

In the docs you have mentioned that is Mulitple engarde clients will need to connect to multiple engarde server instances as of now. Combining this is a WIP.

Any specific timeframe for this :)